<hr style="border:5px solid #108999">

# pandas DataFrames <hr style="border:4.5px solid #108999">

In [1]:
# Mounting Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [10]:
# Defining path
content_path = '/content/gdrive/MyDrive/Learning/complete_data_analyst_course/exercises'
data_dir = content_path+'/datasets'

Import the pandas and numpy libraries by using the relevant well-known conventions.

In [3]:
import pandas as pd
import numpy as np

## A Revision to pandas DataFrames

The goal of this exercise is to solidify your knowledge and understanding of the fundamentals of using pandas DataFrames.

Execute the next code cell to create the array called **array_c**.

In [4]:
array_c = np.array([[1000, 50, 78.45], [700, 112, 35.5]])
array_c

array([[1000.  ,   50.  ,   78.45],
       [ 700.  ,  112.  ,   35.5 ]])

Convert **array_c** into a DataFrame, called **company_statistics**. Assign the column names and row labels from the following lists as column names and index of this DataFrame, respectively.

In [5]:
# column names
column_names = ['No. of Employees', 'Avg. Annual Revenue ($)', 'Share price ($)']

In [6]:
# row labels
row_labels = ['Company A', 'Company B']

In [7]:
company_statistics = pd.DataFrame(array_c, columns=column_names, index=row_labels)

Display the **company_statistics** DataFrame.

In [8]:
company_statistics

           No. of Employees  Avg. Annual Revenue ($)  Share price ($)
Company A            1000.0                     50.0            78.45
Company B             700.0                    112.0            35.50

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

In [14]:
data = pd.read_csv(data_dir+'/Sales-products.csv')
sales_products_data = data.copy()
sales_products_data.head()

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
0,SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548
1,SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018.0,Q1 2018,36050.32,254.0,0.484274
2,SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018.0,Q1 2018,90040.48,149.0,NaN
3,SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018.0,Q1 2018,NaN,305.0,0.292938
4,SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018.0,Q1 2018,NaN,182.0,0.610710

Verify that the obtained object is a pandas DataFrame.

In [15]:
type(sales_products_data)

pandas.core.frame.DataFrame

Try out a well-known pandas method used for Series on this DataFrame to obtain its last five rows.

In [16]:
sales_products_data.tail()

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
1271,SaleID_1272,Spain,Sales visit,Outdoors Shop,Personal Accessories,Rope,Husky Rope 60,2020.0,Q3 2020,30916.50,173.0,0.298114
1272,SaleID_1273,Spain,Sales visit,Outdoors Shop,Outdoor Protection,Climbing Accessories,Firefly Climbing Lamp,2020.0,Q3 2020,7536.29,193.0,0.445287
1273,SaleID_1274,Spain,Sales visit,Outdoors Shop,Personal Accessories,Climbing Accessories,Firefly Charger,2020.0,Q3 2020,12306.48,238.0,0.568420
1274,SaleID_1275,Spain,Sales visit,Outdoors Shop,Personal Accessories,Tools,Granite Axe,2020.0,Q3 2020,56499.00,1472.0,0.490667
1275,SaleID_1276,Spain,Sales visit,Outdoors Shop,Camping Equipment,Tools,Granite Extreme,2020.0,Q3 2020,89427.00,1178.0,0.386895

## Common Attributes for Working with DataFrames

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

In [18]:
data = pd.read_csv(data_dir+'/Sales-products.csv')
sales_products_data = data.copy()
sales_products_data.head()

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
0,SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548
1,SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018.0,Q1 2018,36050.32,254.0,0.484274
2,SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018.0,Q1 2018,90040.48,149.0,NaN
3,SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018.0,Q1 2018,NaN,305.0,0.292938
4,SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018.0,Q1 2018,NaN,182.0,0.610710

Return the index of the **sales_products_data** DataFrame.

In [19]:
sales_products_data.index

RangeIndex(start=0, stop=1276, step=1)

Verify that **sales_products_data** is a RangeIndex object in an alternative way by using the **type()** funciton.

In [20]:
type(sales_products_data.index)

pandas.core.indexes.range.RangeIndex

Retrieve and Index object containing all column names from the **sales_products_data** DataFrame.

In [21]:
sales_products_data.columns

Index(['SaleID', 'RetailerCountry', 'OrderMethod', 'RetailerType',
       'ProductLine', 'ProductType', 'Product', 'Year', 'Quarter', 'Revenue',
       'Quantity', 'GrossMargin'],
      dtype='object')

You are requested to create a new DataFrame, called **df**, whose data is obtained from the the names of the columns of **sales_products_data** DataFrame, while the column names are obtained from the **new_column_names** list.
<br/><br/> First, execute the next cell to create **new_column_names**, and then in the next cell try creating the **df** DataFrame yourself (by helping yourself with the newly created **new_column_names** list).
<br/><br/> *Note: There are two ways to achieve this - one would be through utilizing the* **columns** *parameter, and the other â€“ with the help of the* **"columns"** *attribute. Choose whichever option you prefer (or why not try both!).*

In [22]:
new_column_names = ['SaleID', 'Country', 'OrderMethod', 'Retailer', 'Line',
       'Type', 'Product', 'YearOfSales', 'Quarter', 'Revenue', 'Quantity',
       'Margin']

In [23]:
df = pd.DataFrame(sales_products_data.values, columns=new_column_names)
df.head()

,SaleID,Country,OrderMethod,Retailer,Line,Type,Product,YearOfSales,Quarter,Revenue,Quantity,Margin
0,SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548
1,SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018.0,Q1 2018,36050.32,254.0,0.484274
2,SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018.0,Q1 2018,90040.48,149.0,NaN
3,SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018.0,Q1 2018,NaN,305.0,0.292938
4,SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018.0,Q1 2018,NaN,182.0,0.61071

In [24]:
df = sales_products_data.copy()
df.columns = new_column_names
df.head()

,SaleID,Country,OrderMethod,Retailer,Line,Type,Product,YearOfSales,Quarter,Revenue,Quantity,Margin
0,SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548
1,SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018.0,Q1 2018,36050.32,254.0,0.484274
2,SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018.0,Q1 2018,90040.48,149.0,NaN
3,SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018.0,Q1 2018,NaN,305.0,0.292938
4,SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018.0,Q1 2018,NaN,182.0,0.610710

Display the "head" of the **df** DataFrame.

In [25]:
df.head()

,SaleID,Country,OrderMethod,Retailer,Line,Type,Product,YearOfSales,Quarter,Revenue,Quantity,Margin
0,SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548
1,SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018.0,Q1 2018,36050.32,254.0,0.484274
2,SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018.0,Q1 2018,90040.48,149.0,NaN
3,SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018.0,Q1 2018,NaN,305.0,0.292938
4,SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018.0,Q1 2018,NaN,182.0,0.610710

Use an attribute to obtain the index and column names of **df** in a single output field.

In [26]:
df.axes

[RangeIndex(start=0, stop=1276, step=1),
 Index(['SaleID', 'Country', 'OrderMethod', 'Retailer', 'Line', 'Type',
        'Product', 'YearOfSales', 'Quarter', 'Revenue', 'Quantity', 'Margin'],
       dtype='object')]

Think of **sales_products_data**. Check the information along its axes as well. 
<br/> Compare the output to the one from the previous code cell - are the index and column names different?

In [27]:
sales_products_data.axes

[RangeIndex(start=0, stop=1276, step=1),
 Index(['SaleID', 'RetailerCountry', 'OrderMethod', 'RetailerType',
        'ProductLine', 'ProductType', 'Product', 'Year', 'Quarter', 'Revenue',
        'Quantity', 'GrossMargin'],
       dtype='object')]

**Answer:** *Since a new column names are used the column names of the two DataFrames are differente, but the index remains the same*

Use Python indexing on the code from the previous cell as an alternative way  to obtain the index and column names of **sales_products_data** as separate output.
<br/><br/> *Hint: You may want to open parentheses before applying the required indexing syntax!*

In [28]:
sales_products_data.axes[0]

RangeIndex(start=0, stop=1276, step=1)

In [29]:
sales_products_data.axes[1]

Index(['SaleID', 'RetailerCountry', 'OrderMethod', 'RetailerType',
       'ProductLine', 'ProductType', 'Product', 'Year', 'Quarter', 'Revenue',
       'Quantity', 'GrossMargin'],
      dtype='object')

Use an attribute to obtain metadata about the types of data stored in the different columns of the **sales_products_data** DataFrame.
<br><br> *Hint: If you've worked correctly, the obtained output will inform you that just 4 columns are containing numeric values.*

In [30]:
sales_products_data.dtypes

SaleID              object
RetailerCountry     object
OrderMethod         object
RetailerType        object
ProductLine         object
ProductType         object
Product             object
Year               float64
Quarter             object
Revenue            float64
Quantity           float64
GrossMargin        float64
dtype: object

Obtain a Numpy array containing all values of the **sales_products_data**.
<br/><br/> *Note: There are two ways to achieve this - one would be to use an attribute, while the other - use a method! Try both, but keep in mind that pandas developers advise us to stick to using the method.*

In [31]:
sales_products_data.values

array([['SaleID_1', 'United States', 'Fax', ..., 59728.66, 491.0,
        0.35754797],
       ['SaleID_2', 'United States', 'Fax', ..., 36050.32, 254.0,
        0.4842745],
       ['SaleID_3', 'United States', 'Fax', ..., 90040.48, 149.0, nan],
       ...,
       ['SaleID_1274', 'Spain', 'Sales visit', ..., 12306.48, 238.0,
        0.56842037],
       ['SaleID_1275', 'Spain', 'Sales visit', ..., 56499.0, 1472.0,
        0.49066667],
       ['SaleID_1276', 'Spain', 'Sales visit', ..., 89427.0, 1178.0,
        0.38689474]], dtype=object)

In [32]:
sales_products_data.to_numpy()

array([['SaleID_1', 'United States', 'Fax', ..., 59728.66, 491.0,
        0.35754797],
       ['SaleID_2', 'United States', 'Fax', ..., 36050.32, 254.0,
        0.4842745],
       ['SaleID_3', 'United States', 'Fax', ..., 90040.48, 149.0, nan],
       ...,
       ['SaleID_1274', 'Spain', 'Sales visit', ..., 12306.48, 238.0,
        0.56842037],
       ['SaleID_1275', 'Spain', 'Sales visit', ..., 56499.0, 1472.0,
        0.49066667],
       ['SaleID_1276', 'Spain', 'Sales visit', ..., 89427.0, 1178.0,
        0.38689474]], dtype=object)

Verify that the obtained objects are NumPy arrays with the help of the "Type" function.

In [33]:
type(sales_products_data.values)

numpy.ndarray

In [34]:
type(sales_products_data.to_numpy())

numpy.ndarray

Obtain the number of rows and columns in the **sales_products_data** DataFrame.

In [35]:
sales_products_data.shape

(1276, 12)

Check if the output obtained in the previous cell is a tuple.

In [36]:
type(sales_products_data.shape)

tuple

## Data Selection in pandas DataFrames

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

In [37]:
data = pd.read_csv(data_dir+'/Sales-products.csv')
sales_products_data = data.copy()
sales_products_data.head()

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
0,SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548
1,SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018.0,Q1 2018,36050.32,254.0,0.484274
2,SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018.0,Q1 2018,90040.48,149.0,NaN
3,SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018.0,Q1 2018,NaN,305.0,0.292938
4,SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018.0,Q1 2018,NaN,182.0,0.610710

Although we are not advised to, retrieve the data from the 'Product' column from the **sales_products_data** column *without* using the indexing operator **[ ]**.

In [38]:
sales_products_data.Product

0       TrailChef Deluxe Cook Set
1          TrailChef Double Flame
2                       Star Dome
3                    Star Gazer 2
4              Compact Relief Kit
                  ...
1271                Husky Rope 60
1272        Firefly Climbing Lamp
1273              Firefly Charger
1274                  Granite Axe
1275              Granite Extreme
Name: Product, Length: 1276, dtype: object

Retrieve the data from the 'Product' column from the **sales_products_data** column by using the indexing operator **[ ]**.

In [39]:
sales_products_data['Product']

0       TrailChef Deluxe Cook Set
1          TrailChef Double Flame
2                       Star Dome
3                    Star Gazer 2
4              Compact Relief Kit
                  ...
1271                Husky Rope 60
1272        Firefly Climbing Lamp
1273              Firefly Charger
1274                  Granite Axe
1275              Granite Extreme
Name: Product, Length: 1276, dtype: object

Apply the **.tail()** method to the code you used in your previous response to obtain the last five rows from the "Product" column.

In [40]:
sales_products_data['Product'].tail()

1271            Husky Rope 60
1272    Firefly Climbing Lamp
1273          Firefly Charger
1274              Granite Axe
1275          Granite Extreme
Name: Product, dtype: object

Although we are not advised to, retrieve the data from the 'Quarter' column from the **sales_products_data** column *without* using the indexing operator **.[ ]**.

In [41]:
sales_products_data.Quarter

0       Q1 2018
1       Q1 2018
2       Q1 2018
3       Q1 2018
4       Q1 2018
         ...
1271    Q3 2020
1272    Q3 2020
1273    Q3 2020
1274    Q3 2020
1275    Q3 2020
Name: Quarter, Length: 1276, dtype: object

Retrieve the data from the 'Quarter' column from the **sales_products_data** column by using the indexing operator **[ ]**.

In [42]:
sales_products_data['Quarter']

0       Q1 2018
1       Q1 2018
2       Q1 2018
3       Q1 2018
4       Q1 2018
         ...
1271    Q3 2020
1272    Q3 2020
1273    Q3 2020
1274    Q3 2020
1275    Q3 2020
Name: Quarter, Length: 1276, dtype: object

Use any of the 4 previous examples to verify that the data obtained from a column of a DataFrame is actually stored in a Series object:

In [43]:
type(sales_products_data['Quarter'])

pandas.core.series.Series

<br> Use a well-know attribute and attribute chaining to obtain information about the type of data stored in the "Revenue" column.

In [44]:
sales_products_data.Revenue.dtype

dtype('float64')

**Selecting multiple columns from a DF**

Use a list with column names within the indexing operator ([ ]) to extract data from the 'Revenue' and 'Quantity' columns from the **sales_products_data** DataFrame. Use the **.head()** method to only display the top five rows of the selection.  <br>
Solve the problem by using a single line of code.

In [45]:
sales_products_data[['Revenue', 'Quantity']].head()

    Revenue  Quantity
0  59728.66     491.0
1  36050.32     254.0
2  90040.48     149.0
3       NaN     305.0
4       NaN     182.0

Can you think of a more elegant way to obtain the same result? This option is more often encountered in professional work since it improves the legibility of your code.

In [46]:
sales_products_data.loc[:4,['Revenue', 'Quantity']]

    Revenue  Quantity
0  59728.66     491.0
1  36050.32     254.0
2  90040.48     149.0
3       NaN     305.0
4       NaN     182.0

## Data Selection - Indexing Data with .iloc[]

In [47]:
import pandas as pd

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

In [48]:
data = pd.read_csv(data_dir+'/Sales-products.csv')
sales_products_data = data.copy()
sales_products_data.head()

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
0,SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548
1,SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018.0,Q1 2018,36050.32,254.0,0.484274
2,SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018.0,Q1 2018,90040.48,149.0,NaN
3,SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018.0,Q1 2018,NaN,305.0,0.292938
4,SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018.0,Q1 2018,NaN,182.0,0.610710

Select the data from the first row from the **sales_products_data** DataFrame (don't forget that in programming we start counting from 0!).

In [49]:
sales_products_data.iloc[0, :]

SaleID                              SaleID_1
RetailerCountry                United States
OrderMethod                              Fax
RetailerType                   Outdoors Shop
ProductLine             Personal Accessories
ProductType                     Cooking Gear
Product            TrailChef Deluxe Cook Set
Year                                  2018.0
Quarter                              Q1 2018
Revenue                             59728.66
Quantity                               491.0
GrossMargin                         0.357548
Name: 0, dtype: object

Select the data from the penultimate row from the **sales_products_data** DataFrame.

In [50]:
sales_products_data.iloc[-2, :]

SaleID                      SaleID_1275
RetailerCountry                   Spain
OrderMethod                 Sales visit
RetailerType              Outdoors Shop
ProductLine        Personal Accessories
ProductType                       Tools
Product                     Granite Axe
Year                             2020.0
Quarter                         Q3 2020
Revenue                         56499.0
Quantity                         1472.0
GrossMargin                    0.490667
Name: 1274, dtype: object

Select the value from the second row and sixth column of **sales_products_data** by using the **.iloc[]** accessor.
<br><br> *Hint: If you've worked correctly, you should obtain 'Cooking Gear'.*

In [51]:
sales_products_data.iloc[1, 5]

'Cooking Gear'

Although we are not advised to, can you think of an alternative syntax that you can use to obtain the same information? 
<br> *Hint: You still need to use the **.iloc[]** accessor!*
<br><br> *Note: We are asking you to try this syntax out to make sure you are in control of obtaining the desired portion of the data regardless of the object it has been contained into. The syntax and tools are similar, while their utilization may differ.*

In [52]:
sales_products_data.iloc[1][5]

'Cooking Gear'

Use the **.shape** attribute to discover the largest numbers that you can use as arguments of the **.iloc[]** accessor.

In [53]:
sales_products_data.shape

(1276, 12)

Considering the values you just obtained, use the **.iloc[]** accessor find out the value that has been stored in the last row and farthest-to-the-right column.

In [54]:
sales_products_data.iloc[1275, 11]

0.38689474

Verify that you've obtained the correct value by applying the **.tail()** method to the **sales_products_data** DataFrame.
<br> Observe the value that is farthest to the right on the last row.

In [55]:
sales_products_data.tail()

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
1271,SaleID_1272,Spain,Sales visit,Outdoors Shop,Personal Accessories,Rope,Husky Rope 60,2020.0,Q3 2020,30916.50,173.0,0.298114
1272,SaleID_1273,Spain,Sales visit,Outdoors Shop,Outdoor Protection,Climbing Accessories,Firefly Climbing Lamp,2020.0,Q3 2020,7536.29,193.0,0.445287
1273,SaleID_1274,Spain,Sales visit,Outdoors Shop,Personal Accessories,Climbing Accessories,Firefly Charger,2020.0,Q3 2020,12306.48,238.0,0.568420
1274,SaleID_1275,Spain,Sales visit,Outdoors Shop,Personal Accessories,Tools,Granite Axe,2020.0,Q3 2020,56499.00,1472.0,0.490667
1275,SaleID_1276,Spain,Sales visit,Outdoors Shop,Camping Equipment,Tools,Granite Extreme,2020.0,Q3 2020,89427.00,1178.0,0.386895

Prove that **.iloc[]** can be applied to a Series object such as **sales_products_data['Product']** as well (e.g. by obtaining the first element from this column).
<br><br> *Note: We are asking you to try this syntax out to make sure you are in control of obtaining the desired portion of the data regardless of the object it has been contained into. The syntax and tools are similar, while their utilization may differ.*
<br> *This note applies to this and the next task.*

In [56]:
sales_products_data['Product'].iloc[0]

'TrailChef Deluxe Cook Set'

Although we are not advised to, when working with a Series object, we can obtain the same output without using the **.iloc[]** indexer and using "classical" Python indexing. Can you try that out?

In [57]:
sales_products_data['Product'][0]

'TrailChef Deluxe Cook Set'

## Data Selection - Indexing with .loc[]

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the 'SaleID' column as an index for this DataFrame throughout this exercise.*

In [59]:
data = pd.read_csv(data_dir+'/Sales-products.csv', index_col='SaleID')
sales_products_data = data.copy()
sales_products_data.head()

,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
SaleID,,,,,,,,,,,
SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548
SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018.0,Q1 2018,36050.32,254.0,0.484274
SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018.0,Q1 2018,90040.48,149.0,NaN
SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018.0,Q1 2018,NaN,305.0,0.292938
SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018.0,Q1 2018,NaN,182.0,0.610710

Retrieve the values from the first row of the DataFrame by using the specified label-based index rather than the default numeric index.

In [60]:
sales_products_data.loc['SaleID_1']

RetailerCountry                United States
OrderMethod                              Fax
RetailerType                   Outdoors Shop
ProductLine             Personal Accessories
ProductType                     Cooking Gear
Product            TrailChef Deluxe Cook Set
Year                                  2018.0
Quarter                              Q1 2018
Revenue                             59728.66
Quantity                               491.0
GrossMargin                         0.357548
Name: SaleID_1, dtype: object

By using the specified label-based index again, retrieve the information stored in the 'GrossMargin' column for the 4th sale.

In [61]:
sales_products_data.loc['SaleID_4', 'GrossMargin']

0.29293788

Obtain a DataFrame containg the values stored in all columns for sales numbered 15, 235, and 1147 by using the **.loc[]** indexer.

In [62]:
sales_products_data.loc[['SaleID_15', 'SaleID_235', 'SaleID_1147']]

,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
SaleID,,,,,,,,,,,
SaleID_15,United States,Web,Mall,Personal Accessories,Eyewear,Hawk Eye,2018.0,Q1 2018,29584.00,730.0,0.410535
SaleID_235,Mexico,Web,Mall,Personal Accessories,Eyewear,Fairway,2018.0,Q3 2018,12331.05,609.0,0.404658
SaleID_1147,Germany,Phone,Department Store,Camping Equipment,Lanterns,Firefly 4,2020.0,Q1 2020,7587.64,258.0,0.387587

With the help of the **.loc[]** indexer, select the last 5 records from the 'Year' column.

In [63]:
sales_products_data.loc[:, 'Year'].tail()

SaleID
SaleID_1272    2020.0
SaleID_1273    2020.0
SaleID_1274    2020.0
SaleID_1275    2020.0
SaleID_1276    2020.0
Name: Year, dtype: float64

## A Few Comments on Using .loc[] and .iloc[]

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the 'SaleID' column as an index for this DataFrame throughout this exercise.*

In [64]:
data = pd.read_csv(data_dir+'/Sales-products.csv', index_col='SaleID')
sales_products_data = data.copy()
sales_products_data.head()

,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
SaleID,,,,,,,,,,,
SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548
SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018.0,Q1 2018,36050.32,254.0,0.484274
SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018.0,Q1 2018,90040.48,149.0,NaN
SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018.0,Q1 2018,NaN,305.0,0.292938
SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018.0,Q1 2018,NaN,182.0,0.610710

Although we are not advised to, can you think of an alternative syntax that you can use to obtain the same information? 
<br> *Hint: You don't need to use the **.loc[]** indexer.*
<br><br> *Notes:* 
- *The syntax here differs from the syntax applied when we need the *.iloc[] indexer for a similar operation.*
- *We are asking you to try this syntax out to make sure you are in control of obtaining the desired portion of the data regardless of the object it has been contained into. The syntax and tools are similar, while their utilization may differ.*

In [65]:
sales_products_data['GrossMargin']['SaleID_4']

0.29293788

Consider that you can obtain a Series object containing the values from the 'GrossMargin' column by executing the cell below.

In [66]:
sales_products_data.GrossMargin

SaleID
SaleID_1       0.357548
SaleID_2       0.484274
SaleID_3            NaN
SaleID_4       0.292938
SaleID_5       0.610710
                 ...
SaleID_1272    0.298114
SaleID_1273    0.445287
SaleID_1274    0.568420
SaleID_1275    0.490667
SaleID_1276    0.386895
Name: GrossMargin, Length: 1276, dtype: float64

With that in mind, although we are not advised to, can you think of a third alternative way to obtain the value of 0.28293788?

In [67]:
sales_products_data.GrossMargin['SaleID_4']

0.29293788

Use both the **.loc[]** and **.iloc[]** indexers to obtain the values from the 10th and 15th rows from column "OrderMethod" from the **sales_products_data** DataFrame.

In [68]:
sales_products_data.loc[:, 'OrderMethod'].iloc[[9,14]]

SaleID
SaleID_10    Mail
SaleID_15     Web
Name: OrderMethod, dtype: object

Use the **.iloc[]** indexer to obtain a DataFrame composed of the 2nd and 3rd columns of **sales_products_data**.

In [69]:
sales_products_data.iloc[:, 1:3]

             OrderMethod   RetailerType
SaleID
SaleID_1             Fax  Outdoors Shop
SaleID_2             Fax  Outdoors Shop
SaleID_3             Fax  Outdoors Shop
SaleID_4             Fax  Outdoors Shop
SaleID_5             NaN  Outdoors Shop
...                  ...            ...
SaleID_1272  Sales visit  Outdoors Shop
SaleID_1273  Sales visit  Outdoors Shop
SaleID_1274  Sales visit  Outdoors Shop
SaleID_1275  Sales visit  Outdoors Shop
SaleID_1276  Sales visit  Outdoors Shop

[1276 rows x 2 columns]

In [70]:
sales_products_data.iloc[:, [1,2]]

             OrderMethod   RetailerType
SaleID
SaleID_1             Fax  Outdoors Shop
SaleID_2             Fax  Outdoors Shop
SaleID_3             Fax  Outdoors Shop
SaleID_4             Fax  Outdoors Shop
SaleID_5             NaN  Outdoors Shop
...                  ...            ...
SaleID_1272  Sales visit  Outdoors Shop
SaleID_1273  Sales visit  Outdoors Shop
SaleID_1274  Sales visit  Outdoors Shop
SaleID_1275  Sales visit  Outdoors Shop
SaleID_1276  Sales visit  Outdoors Shop

[1276 rows x 2 columns]

Use the **.loc[]** accessor to obtain a DataFrame composed of the records of **sales_products_data** for sales with ID 50 and 87.

In [71]:
sales_products_data.loc[['SaleID_50', 'SaleID_87']]

,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
SaleID,,,,,,,,,,,
SaleID_50,Canada,Web,Sports Store,Mountaineering Equipment,Binoculars,Seeker 50,2018.0,Q1 2018,11067.22,89.0,0.275588
SaleID_87,Austria,Web,Sports Store,Personal Accessories,Tents,Star Peg,2018.0,Q2 2018,3325.94,1599.0,NaN